doctype html
html
	head
		link(rel="stylesheet" href="style.css")

	body
		div(class="container")
			div(class="quiz")
				h1 The Number Quiz
				p Your current score is &nbsp;  #{score}

				p Guess the next number in the sequence.

				p &nbsp; #{quizQuestions.pattern}

				form(action="/",method="post")

					
					input(type="hidden", name="qusIndex",value=qusIndex)
			
					
					input(type="hidden", name="quesSerial",value=quizQuestions.queNo)
					
					input(type="hidden", name="score",value=score)
					
					<br>

					lable Your answer: &nbsp; &nbsp;
					
					input(type="text", name="answer",value="")

					<br>
					<br>
					 
					input(type="submit", name="btn",value="Submit")
